<div
  (click)="inputRef.focus()"
  [class.border-app-error]="showErrors()"
  class="bg-app-surface dark:bg-app-surface-dark border-app-border dark:border-app-border-dark focus-within:border-app-primary dark:focus-within:border-app-primary-dark focus-within:ring-app-focus-ring dark:focus-within:ring-app-focus-ring-dark flex w-full cursor-text rounded-md border p-3 transition-colors focus-within:ring-2"
>
  @if (leadingIcon()) {
    <div
      class="text-app-subtext dark:text-app-subtext-dark mr-2 flex items-center select-none"
      [class.cursor-pointer]="leadingIconClickable()"
      [class.cursor-default]="!leadingIconClickable()"
      (click)="onLeadingIconClick($event)"
    >
      <span class="material-symbols-outlined">{{ leadingIcon() }}</span>
    </div>
  }

  <input
    #inputRef
    [type]="type()"
    [formControl]="control()"
    class="text-app-text dark:text-app-text-dark placeholder:text-app-subtext dark:placeholder:text-app-subtext-dark w-full flex-1 border-none bg-transparent outline-none"
    [placeholder]="placeholder()"
  />

  @if (trailingIcon()) {
    <div
      class="text-app-subtext dark:text-app-subtext-dark ml-2 flex items-center select-none"
      [class]="
        trailingIconClickable()
          ? 'text-app-primary dark:text-app-subtext cursor-pointer'
          : 'text-app-subtext dark:text-app-subtext cursor-default'
      "
      (click)="onTrailingIconClick($event)"
    >
      <span class="material-symbols-outlined">{{ trailingIcon() }}</span>
    </div>
  }
</div>
<div class="text-app-error dark:text-app-error-dark mt-1 min-h-5 text-sm">
  @if (showErrors()) {
    <span role="alert">{{ displayErrorMessage() }}</span>
  }
</div>
