services:
  db:
    image: postgres:18.1-alpine3.23
    container_name: biblionode-db
    environment:
      POSTGRES_DB: biblionode-db
      POSTGRES_USER: dev_user
      POSTGRES_PASSWORD: dev_password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: