<div class="flex flex-col items-center justify-center h-full w-full">
  <div class="flex flex-col bg-gray-50 dark:bg-gray-900 p-8 rounded shadow-md max-w-sm space-y-4">
    <div class="flex items-center justify-center">
      <h1 class="text-2xl mb-8 font-bold text-blue-950 dark:text-blue-200">BiblioNode</h1>
    </div>

    @if (incorrectCredentialsMessage()) {
      <div class="flex flex-row items-center bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative"
           role="alert">
        <p class="text-red-500 text-sm">Incorrect email or password.</p>
        <button class="absolute top-0 bottom-0 right-0 px-4 py-3 cursor-pointer"
                (click)="hideIncorrectCredentialsMessage()">
          <span class="material-symbols-outlined">close</span>
        </button>
      </div>
    }

    <form [formGroup]="loginForm" class="flex flex-col space-y-4" (ngSubmit)="signIn()">
      <app-icon-input
        [control]="email"
        placeholder="Email"
        leadingIcon="mail"
        [errorMessages]="{
          required: 'Email is required',
          email: 'Please enter a valid email address'
        }"
      />
      <app-icon-input
        [control]="password"
        placeholder="Password"
        [type]="passwordVisible() ? 'text' : 'password'"
        leadingIcon="lock"
        [trailingIcon]="passwordVisible() ? 'visibility_off' : 'visibility'"
        [trailingIconClickable]="true"
        (trailingIconClick)="togglePasswordVisibility()"
        [errorMessages]="{
          required: 'Please enter your password',
        }"
      />

      <button type="submit"
              class="bg-blue-900 text-white hover:bg-blue-800 transition-colors rounded p-2 font-bold cursor-pointer">
        Sign In
      </button>
      <button type="button"
              class="border-blue-900 text-blue-900 dark:text-white hover:text-white border-2 hover:bg-blue-800 transition-colors rounded p-2 font-bold cursor-pointer"
              (click)="moveToSignUpPage()">Sign Up
      </button>
    </form>

  </div>
</div>
