<a
  class="button group flex flex-col items-center gap-1 rounded-xl p-2 transition-all hover:bg-gray-100 hover:text-gray-900 md:w-full dark:hover:bg-gray-900 dark:hover:text-gray-100"
  [routerLink]="link()"
  routerLinkActive="text-blue-950 dark:text-blue-200"
  #rla="routerLinkActive"
  [class.text-gray-500]="!rla.isActive"
  ariaCurrentWhenActive="page"
>
  <span class="material-symbols-outlined transition-transform group-hover:scale-110">
    {{ icon() }}
  </span>

  <span class="text-[10px] tracking-wide md:text-base" routerLinkActive="font-semibold">
    {{ label() }}
  </span>
</a>
